.chat-screen {
  background-color: #abc1d1;
  height: 10000vh;
}
.chat-screen .status-bar,
.chat-screen .alt-header {
  background-color: #abc1d1;
}
.chat-screen .status-bar {
  z-index: 2;
}
.chat-screen .alt-header {
  position: sticky;
  top: 0px;
  z-index: 1;
}
.main-chat {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.chat__timestamp {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  opacity: 0.6;
  padding: 9px 15px;
  border-radius: 30px;
  font-size: 15px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}
.message__author {
  opacity: 0.7;
  display: block;
  margin-bottom: 10px;
}
.message__bubble {
  background-color: white;
  padding: 12px 13px;
  font-size: 19px;
  border-radius: 15px;
  border-top-left-radius: 0px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__time {
  font-size: 12px;
  margin-left: 7px;
  opacity: 0.7;
}
