#friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding: 13px 0;
  font-size: 17px;
  font-weight: 500;
  margin-top: -15px;
}

#friends-display-link i {
  color: #d5d5d5;
  padding: 0 3px;
}

.friends-screen__channel {
  color: inherit;
  margin-top: 7px;
}

.friends-screen__channel-header {
  border-top: var(--main-border);
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 115px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1s;
}
