#friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding: 13px 0;
  font-size: 17px;
  font-weight: 500;
}

#friends-display-link i {
  color: #d5d5d5;
  padding: 0 3px;
}

.friends-screen {
  margin: 0 var(--horizontal-space);
}

.friends-screen__channel {
  color: inherit;
}
