.screen-header {
  display: flex;
  margin: 50px var(--horizontal-space);
  justify-content: space-between;
  align-items: center;
}
.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
