.user-component,
.user-component__column {
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.user-component {
  justify-content: space-between;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 23px;
}

.user-component__text {
  margin: 0 15px;
}
.user-component__title {
  font-size: 22px;
  font-weight: 600;
}
.user-component__subtitle {
  margin-top: 9px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 17px;
}
.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
}
.user-component__column:last-child span {
  padding-right: 5px;
}
